# Dependencies
/node_modules
/.pnp
.pnp.js

# Production / Build outputs
/dist
/build
/out
/.next

# Testing
/coverage

# Debug and Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local Environment Variables / Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and Text Editors
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
